---
import Layout from "../layouts/Layout.astro"
import Header from "../components/header.astro"
import Footer from "../components/footer.astro"


export const prerender = true
---

<Layout
	description="Web Oficial de La Velada del A침o IV, evento de boxeo entre streamers y creadores de contenido, organizado por Ibai Llanos"
	title="P치gina no encontrada - La Velada del A침o IV"
>
    <Header />
		  <div
            class="relative min-h-screen bg-cover bg-center bg-no-repeat flex flex-col items-center"
            style="background-image: url('/assets/404.webp');">
   
        <div class="flex-1 flex flex-col items-center justify-top mt-50 lg:mt-10 px-4 ">
            <div class=" text-center">
                 <h1 class="text-[6rem] lg:text-[10rem] font-bold font-BB text-white">ERROR 404</h1>
                 <p class="text-2xl text-white font-bold font-Cg ">La p치gina que buscas no existe</p>
            </div>
   
            <a
                href="/"
                class="inline-block font-roboto bg-black hover:bg-gray-600 text-white px-4 py-2 mt-5 rounded-2xl 
                font-bold text-lg shadow-lg transition transform
                 hover:scale-105 hover:text-white mb-8">
                Volver a Inicio
            </a>
        </div>
    </div>


    <Footer />

</Layout>