<div id="carousel-wrapper" class="w-full overflow-hidden relative mt-0 bg-black flex items-center justify-center 
            h-[180px] sm:h-[200px] md:h-[340px] lg:h-[400px] px-4 sm:px-0">

  <ul id="carousel" class="flex items-center font-fjlla [&_li]:mx-6 sm:[&_li]:mx-12 md:[&_li]:mx-16 
        [&_p]:text-white [&_p]:font-bold [&_p]:text-[4rem] sm:[&_p]:text-[5rem] md:[&_p]:text-[8rem] lg:[&_p]:text-[16rem] [&_p]:font-fjlla">
    <li><p>TYPESCRIPT</p></li>
    <li><p>JAVASCRIPT</p></li>
    <li><p>NESTJS</p></li>
    <li><p>NODEJS</p></li>
    <li><p>ASTRO</p></li>
    <li><p>TAILWIND</p></li>
    <li><p>BOOTSTRAP</p></li>
    <li><p>CSS</p></li>
    <li><p>HTML</p></li>
  </ul>
</div>


<script src="/scripts/carusel.js" type="module" is:inline></script>
