---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/header.astro";
import Footer from "../../components/footer.astro";

import { projects, getProjectPaths } from "../../data/projects";

// Astro necesita esta función para las rutas dinámicas
export function getStaticPaths() {
  return getProjectPaths(); //entregamos las rutas dinamicas declaradas en data/projects.ts
}

const { id } = Astro.props; //le pasamos las id
const Project = projects[id]; // basado en el id busca el componente correspondiente
---

<Layout>
  <Header />

  {Project 
    ? <Project /> //renderiza el componente en la pagina
    : <p class="text-center text-2xl py-20">Proyecto no encontrado</p>
  }

  <Footer />
</Layout>

<script src="/scripts/cursor.js" type="module"></script>
<script src="/scripts/Bento.js" type="module"></script>