---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/header.astro";
import Footer from "../../components/footer.astro";

import { projects, getProjectPaths } from "../../data/projects";

// Rutas dinámicas
export function getStaticPaths() {
  return getProjectPaths();
}

const { id } = Astro.props;
const Project = projects[id];
---
<script src="/scripts/Bento.js" type="module" is:inline></script>
<Layout
  title={Project?.title || "Proyecto"}
  description={Project?.description || "Detalles del proyecto"}
  canonical={`/work/${id}`}
  image={Project?.image || "/default-og.webp"}
>
  <Header />

  {Project?.component ? <Project.component /> : <p class="text-center text-2xl py-20">Proyecto no encontrado</p>}

  <Footer />
</Layout>
