---
import '/src/styles/global.css'
import { ClientRouter } from "astro:transitions";
import SmokeBG from "../components/smoke.astro";
import ButtonsFloat from "../components/ButtonsFloat.astro";
import SEO from "../components/SEO.astro";
import Analytics from '@vercel/analytics/astro'
import SpeedInsights from '@vercel/speed-insights/astro';


interface Props {
  title: string;
  description: string;
  canonical?: string;
  image?: string;
}

const { title, description, canonical, image } = Astro.props as Props;
---

<!doctype html>
<html lang="es">
  <head>
    <SEO
      title={title}
      description={description}
      canonical={canonical}
      image={image}
    />
    <SpeedInsights />
    <Analytics />
    <ClientRouter />

    
    <link rel="icon" type="image/svg+xml" href="/favicon.png" class="text-2xl" />
    <link rel="stylesheet" href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css" />
      
  </head>

  <body class="flex flex-col min-h-screen relative ">
    <ButtonsFloat/>
    <SmokeBG transition:persist  />

      <slot />

    <script src="/scripts/menu.js" type="module" is:inline></script>
    <script src="/scripts/cursor.js" type="module" is:inline></script>


  </body>
</html>

<style>
  html,
  body {
    background-color: white;
    z-index: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    cursor: none !important; /* ocultar cursor nativo */
    overflow-x: hidden;
  }
</style>

