---
import '/src/styles/global.css'
import { ClientRouter } from "astro:transitions";
import SmokeBG from "../components/smoke.astro";
import SEO from "../components/SEO.astro";
import Analytics from '@vercel/analytics/astro'

interface Props {
  title: string;
  description: string;
  canonical?: string;
  image?: string;
}

const { title, description, canonical, image } = Astro.props as Props;
---

<!doctype html>
<html lang="es">
  <head>
    <SEO
      title={title}
      description={description}
      canonical={canonical}
      image={image}
    />

    
    <link rel="icon" type="image/svg+xml" href="/favicon.png" class="text-2xl" />
    <link rel="stylesheet" href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css" />
    <ClientRouter />
  </head>

  <body class="flex flex-col min-h-screen relative ">
     
    <SmokeBG transition:persist  />
    <slot />
    <Analytics />
     
    <div id="float-buttons" class="fixed bottom-6 right-6 flex flex-col items-center gap-4 z-50">
  

  <!-- Botones flotantes ocultos por defecto (suben hacia arriba) -->
  <div id="floating-items" class="flex flex-col-reverse items-center gap-4 transform translate-y-4 opacity-0 pointer-events-none transition-all duration-300">
 
    <a href="mailto:ialejandrog15@gmail.com" target="_blank" rel="noopener noreferrer"
       class="flex items-center justify-center w-12 h-12 rounded-full bg-black border border-white text-white shadow-lg hover:bg-red-600 transition-colors">
      <i class="hgi hgi-stroke hgi-mail-01 text-xl"></i>
    </a>

 
    <a href="https://www.linkedin.com/in/al2jan7ro" target="_blank" rel="noopener noreferrer"
       class="flex items-center justify-center w-12 h-12 rounded-full bg-black border border-white text-white shadow-lg hover:bg-blue-700 transition-colors">
      <i class="hgi hgi-stroke hgi-linkedin-01 text-xl"></i>
    </a>

 
    <a href="https://wa.me/584245801160?text=Hola!%20quiero%20contactarte%20para%20una%20oferta%20o%20consulta" target="_blank" rel="noopener noreferrer"
       class="flex items-center justify-center w-12 h-12 rounded-full bg-black border border-white text-white shadow-lg hover:bg-green-600 transition-colors">
      <i class="hgi hgi-stroke hgi-whatsapp text-xl"></i>
    </a>
    
  </div>
<!-- Botón principal para desplegar -->
  <button id="toggle-float" 
          class="flex items-center justify-center w-12 h-12 rounded-full bg-gray-700 text-white shadow-lg hover:bg-gray-500 transition-colors">
    <i class="hgi hgi-stroke hgi-arrow-up-01"></i>
  </button>
  <!-- Subir arriba -->
  <button id="scroll-top-btn"
          class="inset-0 flex items-center justify-center w-12 h-12 rounded-full bg-gray-700 text-white shadow-lg hover:bg-black transition-colors">
   <i class="hgi hgi-stroke hgi-swipe-up-01"></i>
  </button>
</div>

<script is:inline>
document.addEventListener("astro:page-load", () => {
  const scrollBtn = document.getElementById("scroll-top-btn");
  const toggleBtn = document.getElementById("toggle-float");
  const floatingItems = document.getElementById("floating-items");

  let open = false;

  // Mostrar botón subir solo al final
  const toggleScrollBtn = () => {
    const scrollPosition = window.scrollY + window.innerHeight;
    const pageHeight = document.documentElement.scrollHeight;

    if (scrollPosition >= pageHeight - 50) {
      scrollBtn.classList.remove("hidden");
    } else {
      scrollBtn.classList.add("hidden");
    }
  };

  toggleScrollBtn();
  window.addEventListener("scroll", toggleScrollBtn);

  scrollBtn.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });

 
  toggleBtn.addEventListener("click", () => {
    if (!open) {
      floatingItems.classList.remove("translate-y-4", "opacity-0", "pointer-events-none");
      floatingItems.classList.add("translate-y-0", "opacity-100", "pointer-events-auto");
      open = true;
    } else {
      floatingItems.classList.add("translate-y-4", "opacity-0", "pointer-events-none");
      floatingItems.classList.remove("translate-y-0", "opacity-100", "pointer-events-auto");
      open = false;
    }
  });
});
</script>


    
    <script src="/scripts/menu.js" type="module"></script>
    <script src="/scripts/cursor.js" type="module"></script>


  </body>
</html>

<style>
  html,
  body {
    background-color: white;
    z-index: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    cursor: none !important; /* ocultar cursor nativo */
    overflow-x: hidden;
  }
</style>

