<div class="lg:justify-between lg:items-right items-center justify-center flex flex-col lg:flex-row lg:mt-15 mb-20">

  <a href="/proyects"
      id="back-btn"
      class="text-[1.1rem] sm:text-[1.3rem] lg:text-[1.2rem] px-4 py-2 sm:px-5 gap-2 lg:translate-y-0 translate-y-30
      sm:py-3 bg-black/10 tracking-normal font-roboto font-bold cursor-none hover:bg-black
      hover:text-white rounded-xl lg:ml-20 transition-transform duration-700 hover:scale-103"
    >
    Back
  </a>

    <a target="_blank"  href=" https://github.com/Al2jan7ro/LA-CALIFORNIA.git"
      id="projects-btn"
      class="text-[1.1rem] sm:text-[1.3rem] lg:text-[1.2rem] px-4 py-2 sm:px-5 lg:mr-20
      sm:py-3 bg-black/10 tracking-normal font-roboto cursor-none hover:bg-black
       hover:text-white transition-transform duration-700 hover:scale-103 rounded-xl font-bold items-center flex gap-2" 
    >
      Available on GitHub
      <i class="hgi hgi-stroke hgi-github text-[1.5rem] font-bold"></i>
    </a>
</div>  

<div class="flex flex-col lg:flex-row lg:justify-between items-center mb-50 lg:mt-0 mt-10  lg:ml-20">

  <img src="/assets/blog.webp" alt="Blog la california - barquisimeto" 
    class="w-[100%] rounded-3xl h-[180px] sm:h-[350px] md:h-[400px]
    lg:h-[70%px] relative overflow-hidden cursor-none px-5 lg:px-0">

  <h1 class="text-[4.5rem] text-center items-center lg:text-left sm:text-[3rem] md:text-[4rem] lg:text-[6rem] font-BB
  font-bold lg:ml-10 lg:mt-0 mt-15">LA CALIFORNIA</h1>

</div>

<section class="">

  <!-- Sección: About it -->
  <div class="flex items-center justify-between">
    <h2 id="about-title"
      class="text-[2rem] sm:text-3xl md:text-4xl font-BB ml-4 sm:ml-10 md:ml-20">
      About it.
    </h2>

    <a href="/proyects"
      class="text-[1.1rem] sm:text-[1.3rem] md:text-[1.2rem] px-4 py-2 sm:px-5 sm:py-3 
      bg-black/10 font-roboto font-bold cursor-none hover:bg-black hover:text-white 
      transition-transform duration-700 hover:scale-103 rounded-xl lg:mr-15 mr-5">
      Show more
    </a>
  </div>

  <!-- Texto resumido -->
  <div class="px-4 md:px-8 flex justify-center mt-10">
    <p class="text-[1.4rem] sm:text-xl lg:text-[1.5rem] font-Cg2 max-w-[900px] 
    indent-18 text-justify leading-relaxed">
      Página web institucional para la 
      <span class="font-semibold">Urbanización La California</span>, desarrollada con 
      <span class="font-semibold">WordPress y Divi</span>, con un CMS dedicado que permite a la comunidad 
      gestionar noticias, eventos y recursos.  
      Incluye apartados de historia, reglamentos, directorio de contactos, 
      galería fotográfica y un sistema de anuncios actualizado por los administradores.
    </p>
  </div>

  <!-- Grid imágenes grandes -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-16 mb-20 px-8">

    <!-- Imagen ocupando toda la fila -->
    <img src="/img/california/cali1.webp" alt="Blog Inicio" 
      class="clickable w-full h-[400px] sm:h-[500px] md:h-[600px] rounded-3xl object-cover 
      col-span-1 md:col-span-2 transition-transform duration-700 hover:scale-103">

    <!-- Dos imágenes grandes lado a lado -->
    <img src="/img/california/cali2.webp" alt="Blog Historia" 
      class="clickable w-full h-[350px] sm:h-[450px] md:h-[500px] rounded-3xl object-cover 
      transition-transform duration-700 hover:scale-103">

    <img src="/img/california/cali3.webp" alt="Blog Comunidad" 
      class="clickable w-full h-[350px] sm:h-[450px] md:h-[500px] rounded-3xl object-cover 
      transition-transform duration-700 hover:scale-103">

    <!-- Imagen ocupando toda la fila -->
    <img src="/img/california/cali4.webp" alt="Blog Historia" 
      class="clickable w-full h-[400px] sm:h-[500px] md:h-[600px] rounded-3xl object-cover 
      col-span-1 md:col-span-2 transition-transform duration-700 hover:scale-103">
  </div>

  <!-- Modal -->
  <div id="imgModal" 
    class="fixed inset-0 bg-black/80 flex items-center justify-center z-50 
          opacity-0 pointer-events-none transition-opacity duration-300">
    <span id="closeModal" 
          class="absolute top-5 right-8 text-white text-3xl transition-transform duration-600 hover:scale-175 font-bold">&times;</span>
    <img id="modalImage" 
        class="max-h-[90%] max-w-[90%] rounded-2xl shadow-xl transform scale-95 transition-transform duration-300">
  </div>

  <!-- Texto + Imagen a un lado -->
  <div class="flex flex-col lg:flex-row items-center justify-between gap-10 px-6 lg:px-20 mb-20">
    <p class="text-[1.4rem] sm:text-xl lg:text-[1.5rem] font-Cg2 max-w-[600px] 
     indent-18 text-justify leading-relaxed">
      El portal ofrece una plataforma organizada donde los residentes pueden acceder a 
      reglamentos internos, información de interés, próximos eventos comunitarios 
      y reportes importantes.  
      El sistema de gestión permite a los administradores publicar contenido de forma 
      ágil y mantener informada a toda la comunidad en tiempo real.
    </p>

    <img src="/img/california/lacali.png" alt="Cali Logo"
      class="w-full lg:w-[700px] h-[300px] object-cover rounded-3xl transition-transform duration-700 hover:scale-103">
  </div>

  <!-- Sección: Results -->
  <div class="flex items-center justify-between ">
      <h2 id="about-title"
        class="text-[2rem] flex sm:text-3xl md:text-4xl font-BB ml-4 sm:ml-10 md:ml-20">
        RESULTS.
      </h2>

      <a href="/proyects"
        id="projects-btn"
        class="text-[1.1rem] sm:text-[1.3rem] md:text-[1.2rem] px-4 py-2 sm:px-5 
        sm:py-3 bg-black/10 tracking-normal font-roboto font-bold cursor-none hover:bg-black
        hover:text-white transition-transform duration-700 hover:scale-103 rounded-xl lg:mr-15 mr-5"
      >
      Show more
    </a>
  </div>

  <div class="px-4 md:px-8 flex justify-center mt-12">
    <p class="text-[1.4rem] sm:text-xl lg:text-[1.5rem] font-Cg2 max-w-[900px] 
    indent-18 text-justify leading-relaxed">
      El proyecto fortaleció la identidad digital de la comunidad, ofreciendo un espacio 
      moderno, accesible y dinámico para la interacción de los residentes.  
      Mejoró la comunicación entre la junta de condominio y los habitantes, centralizando 
      la información relevante y facilitando la transparencia en la gestión comunitaria.
    </p>
  </div>

  <div class="flex justify-center items-center mt-50 mb-50 space-x-5">
    <a href="/proyects"
      id="back-btn"
      class="text-[1.1rem] sm:text-[1.3rem] lg:text-[1.2rem] px-4 py-2 sm:px-5 gap-2 
      sm:py-3 bg-black/10 tracking-normal font-roboto font-bold cursor-none hover:bg-black
      hover:text-white rounded-xl lg:mr-5 transition-transform duration-700 hover:scale-103"
    >
    Back
  </a>

  <a target="_blank"  href="https://github.com/Al2jan7ro/LA-CALIFORNIA.git"
      id="projects-btn"
      class="text-[1.1rem] sm:text-[1.3rem] lg:text-[1.2rem] px-4 py-2 sm:px-5 
      sm:py-3 bg-black/10 tracking-normal font-roboto cursor-none hover:bg-black
       hover:text-white  rounded-xl font-bold items-center flex gap-2  transition-transform duration-700 hover:scale-103" 
    >
      Avaible on GitHub
      <i class="hgi hgi-stroke hgi-github text-[1.2rem] font-bold"></i>
  </a>
  </div>
  
</section>

