
<div class="lg:justify-between lg:items-right items-center justify-center flex flex-col lg:flex-row lg:mt-15  mb-20">


  <a href="/projects"
      id="back-btn"
      class="text-[1.1rem] sm:text-[1.3rem] lg:text-[1.2rem] px-4 py-2 sm:px-5 gap-2 lg:translate-y-0 translate-y-30
      sm:py-3 bg-black/10 tracking-[.2rem] font-Cg2 font-bold cursor-none hover:bg-black items-center flex flex-row
      hover:text-white rounded-xl lg:ml-20 transition-transform duration-700 hover:scale-103" 
    >
     <i class="hgi hgi-stroke hgi-arrow-left-02" ></i>
    Back
  </a>

    <a target="_blank"  href="https://github.com/Al2jan7ro/Sistema_Psicologia.git"
      id="projects-btn"
      class="text-[1.1rem] sm:text-[1.3rem] lg:text-[1.2rem] px-4 py-2 sm:px-5 lg:mr-20
      sm:py-3 bg-black/10 tracking-normal font-Cg2 cursor-none hover:bg-black
       hover:text-white transition-transform duration-700 hover:scale-103 rounded-xl font-bold items-center flex gap-2" 
    >
      Avaible on GitHub
      <i class="hgi hgi-stroke hgi-github text-[1.5rem] font-bold "></i>
    </a>
</div>   

    <div class="flex flex-col lg:flex-row justify-between items-center lg:mt-0 mt-10 mb-50 lg:ml-20 ">

        <img src="/assets/Psico.webp" alt="Sistema de psicología realizado como proyecto para una psicologa en la Universidad UNEFA" 
        class="w-[100%] rounded-3xl h-[150px] sm:h-[350px] md:h-[400px] px-5
        lg:h-[70%px] relative overflow-hidden cursor-none"
        
        >

        <h1 class="text-[4.5rem] items-center text-center lg:text-left sm:text-[3rem] 
        md:text-[4rem] lg:text-[6rem] font-BB  font-bold lg:ml-10 lg:mt-0 mt-15">SISTEMA DE PSICOLOGÍA</h1>

    </div>


<section class="">

  <!-- Sección: About it -->
  <div class="flex items-center justify-between">
    <h2 id="about-title"
      class="text-[2rem] sm:text-3xl md:text-4xl font-BB ml-4 sm:ml-10 md:ml-20">
      About it.
    </h2>

    <a href="/projects"
      class="text-[1.1rem] sm:text-[1.3rem] md:text-[1.2rem] px-4 py-2 sm:px-5 sm:py-3 
      bg-black/10 font-Cg2 font-bold cursor-none hover:bg-black hover:text-white 
      transition-transform duration-700 hover:scale-103 rounded-xl mr-5 lg:mr-15">
      Show more
    </a>
  </div>

  <!-- Texto resumido -->
  <div class="px-4 md:px-8 flex justify-center mt-10">
    <p class="text-[1.4rem] sm:text-xl lg:text-[1.5rem] font-Cg2 max-w-[900px] 
    indent-18 text-justify leading-relaxed">
      Sistema web para gestión de citas psicológicas, desarrollado con 
      <span class="font-semibold">HTML5, CSS, Bootstrap y PHP</span>.  
      Automatiza procesos clave como videollamadas por Google Meet, historiales clínicos y recordatorios.  
      Diseñado bajo un enfoque <span class="font-semibold">DevOps</span> para garantizar eficiencia y buena comunicación en el equipo.
    </p>
  </div>

  <!-- Grid imágenes grandes -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-16 mb-20 px-8">

    <!-- Imagen ocupando toda la fila -->
    <img src="/img/psico/psico1.webp" alt="Landing Page desarrollada para el sistema de psicología"
      class="clickable w-full h-[400px] sm:h-[500px] md:h-[600px] rounded-3xl object-cover 
      col-span-1 md:col-span-2 transition-transform duration-700 hover:scale-103">

    <!-- Dos imágenes grandes lado a lado -->
    <img src="/img/psico/psico2.webp" alt="Carrusel de imagenes que muestra los tipos de cita ofrecidos por la psicologa" 
      class="clickable w-full h-[350px] sm:h-[450px] md:h-[500px] rounded-3xl object-cover 
      transition-transform duration-700 hover:scale-103">

    <img src="/img/psico/psico3.webp" alt="Sección de problemas comunes en la psicología" 
      class="clickable w-full h-[350px] sm:h-[450px] md:h-[500px] rounded-3xl object-cover 
      transition-transform duration-700 hover:scale-103">

    <!-- Imagen ocupando toda la fila -->
    <img src="/img/psico/psico4.webp" alt="Sección de la modalidad de la cita por medio de la plataforma de Google Meet"
      class="clickable w-full h-[400px] sm:h-[500px] md:h-[600px] rounded-3xl object-cover 
      col-span-1 md:col-span-2 transition-transform duration-700 hover:scale-103">
  </div>

   <!-- Modal -->
    <div id="imgModal" 
      class="fixed inset-0 bg-black/80 flex items-center justify-center z-50 
            opacity-0 pointer-events-none transition-opacity duration-300">
      <span id="closeModal" 
            class="absolute top-5 right-8 text-white text-3xl transition-transform duration-600 hover:scale-175 font-bold">&times;</span>
      <img id="modalImage" 
          class="max-h-[90%] max-w-[90%] rounded-2xl shadow-xl transform scale-95 transition-transform duration-300">
    </div>


  <!-- Texto + Imagen a un lado -->
  <div class="flex flex-col lg:flex-row items-center justify-between gap-10 px-6 lg:px-20 mb-20">
    <p class="text-[1.4rem] sm:text-xl lg:text-[1.5rem] font-Cg2 max-w-[600px] 
     indent-18  text-justify leading-relaxed">
      El sistema cuenta con tres módulos principales:  
      <span class="font-semibold">General</span> (usuarios, acceso, seguridad),  
      <span class="font-semibold">Paciente</span> (agenda, modificación y cancelación de citas) y  
      <span class="font-semibold">Psicóloga</span> (calendario integrado con FullCalendar, historiales clínicos, impresión de reportes).  
      Esto garantiza una experiencia completa tanto para pacientes como profesionales.
    </p>

   <img src="/img/psico/logop.png" alt="Módulos"
  class="w-full lg:w-[700px] h-[300px] object-contain bg-white rounded-3xl transition-transform duration-700 hover:scale-103">

  </div>

  <!-- Sección: Results -->
  <div class="flex items-center justify-between ">
      <h2 id="results-title"
        class="text-[2rem] flex sm:text-3xl md:text-4xl font-BB ml-4 sm:ml-10 md:ml-20">
        RESULTS.
      </h2>

      <a href="/projects"
        id="projects-btn"
        class="text-[1.1rem] sm:text-[1.3rem] md:text-[1.2rem] px-4 py-2 sm:px-5 
        sm:py-3 bg-black/10 tracking-normal font-Cg2 font-bold cursor-none hover:bg-black
        hover:text-white transition-transform duration-700 hover:scale-103 rounded-xl lg:mr-15 mr-5"
      >
      Show more
    </a>
  </div>

  <div class="px-4 md:px-8 flex justify-center mt-12">
    <p class="text-[1.4rem] sm:text-xl lg:text-[1.5rem] font-Cg2 max-w-[900px] 
    indent-18 text-justify leading-relaxed">
      Se logró un sistema funcional, estable y visualmente atractivo.  
      Con interfaz intuitiva, automatización de notificaciones y roles diferenciados,  
      permitió a pacientes <span class="font-semibold">gestionar citas fácilmente</span> y a psicólogas 
      <span class="font-semibold">organizar su agenda y generar historiales clínicos</span>.  
      El éxito se basó en un <span class="font-semibold">trabajo colaborativo</span> bajo prácticas ágiles y DevOps.
    </p>
  </div>


  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-16 mb-20 px-8">

    <!-- Imagen ocupando toda la fila -->
    <img src="/img/psico/psico0.webp" alt="Pagina de login del sistema de psicología" 
      class="clickable w-full h-[400px] sm:h-[500px] md:h-[600px] rounded-3xl object-cover 
      col-span-1 md:col-span-2 transition-transform duration-700 hover:scale-103">

    <!-- Dos imágenes grandes lado a lado -->
    <img src="/img/psico/psico5.webp" alt="Pagina de registro de usuario del sistema de psicología"
      class="clickable w-full h-[350px] sm:h-[450px] md:h-[500px] rounded-3xl object-cover 
      transition-transform duration-700 hover:scale-103">

    <img src="/img/psico/psico6.webp" alt="Menu principal para el usuario que inicia sesión en el sistema de psicología"
      class="clickable w-full h-[350px] sm:h-[450px] md:h-[500px] rounded-3xl object-cover 
      transition-transform duration-700 hover:scale-103">

    <!-- Imagen ocupando toda la fila -->
    <img src="/img/psico/psico7.webp" alt="Formulario para agendar citas en el sistema de psicología"
      class="clickable w-full h-[400px] sm:h-[500px] md:h-[600px] rounded-3xl object-cover 
      col-span-1 md:col-span-2 transition-transform duration-700 hover:scale-103">
  </div>


  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-16 mb-20 px-8">

    <!-- Dos imágenes grandes lado a lado -->
    <img src="/img/psico/psico8.webp" alt="Módulo de configuración de cuenta de usuario o empleado en el sistema de psicología"
      class="clickable w-full h-[350px] sm:h-[450px] md:h-[500px] rounded-3xl object-cover 
      transition-transform duration-700 hover:scale-103">

    <img src="/img/psico/psico9.webp" alt="Módulo de registro de usuarios y nuevos empleados en el sistema de psicología"
      class="clickable w-full h-[350px] sm:h-[450px] md:h-[500px] rounded-3xl object-cover 
      transition-transform duration-700 hover:scale-103">

  </div>

<div class="flex justify-center items-center mt-50 mb-50 space-x-5">

    <a href="/projects"
      id="back-btn"
      class="text-[1.1rem] sm:text-[1.3rem] lg:text-[1.2rem] px-4 py-2 sm:px-5 gap-2 
      sm:py-3 bg-black/10 tracking-[.2rem] font-Cg2 font-bold cursor-none hover:bg-black items-center flex flex-row
      hover:text-white rounded-xl lg:mr-5 transition-transform duration-700 hover:scale-103"
    >
     <i class="hgi hgi-stroke hgi-arrow-left-02" ></i>
    Back
  </a>

  <a target="_blank"  href="https://github.com/Al2jan7ro/Sistema_Psicologia.git"
      id="projects-btn"
      class="text-[1.1rem] sm:text-[1.3rem] lg:text-[1.2rem] px-4 py-2 sm:px-5 
      sm:py-3 bg-black/10 tracking-normal font-Cg2 cursor-none hover:bg-black
       hover:text-white  rounded-xl font-bold items-center flex gap-2  transition-transform duration-700 hover:scale-103" 
    >
      Avaible on GitHub
      <i class="hgi hgi-stroke hgi-github text-[1.2rem] font-bold"></i>
    </a>
  </div>
  
</section>
